apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: swatch-system-conduit
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: swatch-system-conduit
    app.kubernetes.io/part-of: rhsm-subscriptions
  name: swatch-system-conduit
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: swatch-system-conduit
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: swatch-system-conduit
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-subs-watch-tenant/rhsm-subscriptions/swatch-system-conduit@sha256:fca45927084b302dcbf02b2bab1817051aa32a6b16cb5764fe85ee15984221a8
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
