apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: swatch-metrics
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: swatch-metrics
    app.kubernetes.io/part-of: rhsm-subscriptions
  name: swatch-metrics
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: swatch-metrics
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: swatch-metrics
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-subs-watch-tenant/rhsm-subscriptions/swatch-metrics@sha256:b1a2f03e88fc0e26b5faf6f6913cd5d80b43712ec9d073fe335a4d11a7cc7f22
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
