apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: swatch-producer-azure
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: swatch-producer-azure
    app.kubernetes.io/part-of: rhsm-subscriptions
  name: swatch-producer-azure
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: swatch-producer-azure
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: swatch-producer-azure
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-subs-watch-tenant/rhsm-subscriptions/swatch-producer-azure@sha256:72a8508b12b6aeb21bd89160e7d294efc0b70d01430945365892c5b470a6f43b
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
